
.counter{
  height:50vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.button1{
  height:40px;
  width:120px;
  color:blue;
  font-size: 20px;
  background-color: rgb(183, 159, 115);
  margin:10px;
  border-radius: 5px;
}

.counter h1 {
  color:chartreuse;
  font-size: 40px;
}

